@charset "UTF-8";
/***
    OC CIS 155 Web Development I
    Build on Concepts Project #3

    Student Name: Andrew Kerr
    Date: November 10, 2018

    Filename: contact.css
***/


/*** uncomment when adding form back
   * don't need form css and the rest splits the page in two

#content > section {
    width: 49%;
    margin: .5%;
}

#email-sec {
    float: left;
}

#findme {
    float: right;
}

form {
    width: 95%;
    margin: 0 auto;
    padding: 4px;
}
form * {
    text-align: left;
}
label {
    float: left;
    padding: 2px;
}
input {
    width: 70%;
    padding: 2px;
    box-sizing: border-box;
    float: right;
}
form > div {
    float: left;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

textarea {
    float: right;
    width: 49%;
    height: 160px;
    resize: vertical;
}
#filler {
    content: " ";
    width: 100%;
    padding: 2px;
    height: 0px;
}
input:not([type="text"]):not([type="email"]) {
    text-align: center;
    width: initial;
    padding: 3px 4px;
}
input[type="submit"] {
    float: right;
}

input[type="reset"] {
    float: left;
}
***/

#findme > article {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 4px;
}

/*** remove this when form returns, looks better centered in smaller area but larger makes it out of place ***/
h1 {
    margin-bottom: 14px;
}
#findme > article > h2 {
    text-align: left;
}